@import "../../styles/variables";
@import "../../styles/mixin";

$h: 22px;
$h2: $h - 4px;
$smh: 16px;
$smh2: $smh - 4px;

.switchWrapper {
  display: inline-block;

  & + & {
    margin-left: 10px;
  }

  @include switch-size($h, $h2);

  &.switch-sm {
    @include switch-size($smh, $smh2)
  }
}
