.zero-layout {
  display: flex;
  flex-direction: column;

  &.hasAside {
    flex-direction: row;
    .zero-layout{
      flex-direction: column;
    }
  }

  &-content {
    flex: 1;
  }

  & & {
    flex: 1;
    flex-direction: row;
  }
}
